.buttonholder {
	text-align: center;
		}

.pagination {
	text-align: center;
	}

/* 	background: #D0D0D0 url(/img/wall-2000.jpg) no-repeat top right;
	background-position: 100% 100%;

	padding-bottom: 350px;
	background-attachment: fixed;
	background: #D0D0D0 url(/img/oroenpaz.jpg) no-repeat bottom;
	font-family: 'Arvo', serif;

	background-color: #6f7b9e; 
	background-image: url(/img/oroenpaz.jpg);
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: bottom;


*/

body {
	padding-bottom: 350px;
	background: #6f7b9e url(/img/oroenpaz.jpg) fixed no-repeat bottom;
	font-family: 'Arvo', serif;
	}

a:link {
	color: #6f7b9e;
	}

a:visited {
	color: 6f7b9e;
	}

a:hover {
    color: #a56771;
}

a:active {
    color: #a56771;
}

img {
	max-width: 100%;
	}

#whiterectangle {
	margin-top: 50px;
	margin-bottom: 50px;
	margin-left: auto;
	margin-right: auto;
	max-width: 500px;
	background-color: white;
	padding: 20px;
	border: 4px solid #191c21;
	}

.socialbutton {
	width: 16px;
	height: 16px;
	border: none;
	}

#blogcontent {
	width: 600px;
	margin-left: auto;
	margin-right: auto;
	border: 2px solid black;
	padding: 10px;
	}

.video-container {
	position: relative;
	padding-bottom: 56.25%;
	padding-top: 30px;
	margin-bottom: 20px;
	height: 0;
	overflow: hidden;
}

.video-container iframe,  
.video-container object,  
.video-container embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
